{% extends 'base.html' %}
{% block title %}Pet Form{% endblock %}

{% block body %}
<h1>Add Pet</h1>

<div class="row justify-content-center">
    <div clas="col-md-8">

        <form method="POST">
            {{ form.hidden_tag() }}

            {% for field in form
            if field.widget.input_type != "hidden" %}

            <div class="form-group">
                {{field.label}}
                {{field(class_="form-control")}}

                {% for err in field.errors %}
                <small class="form-text text-danger">
                    {{err}}
                </small>
                {% endfor %}
            </div>

            {%endfor%}
            <button class="btn btn-success btn-sm" type="submit">Submit</button>
            <a href="/" class="btn btn-danger btn-sm">Go Back</a>
        </form>
    </div>
</div>
{% endblock %}