{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
<h1>Pets</h1>

<div class="row">
    {% for pet in pets %}

    <div class="col-sm-3 col-3">
        {%if pet.photo_url%}
        <div>
            <img src="{{pet.photo_url}}" alt="{{pet.name}}" class="img-fluid">
        </div>
        {%endif%}

        <div>
            <p><a href="/{{pet.id}}">{{pet.name}}</a>
                {%if pet.available%}<b>is available</b>
                {%else%}is not available.{%endif%}
            </p>
        </div>
    </div>
    {% endfor %}
</div>

<a href="/add" class="btn btn-sm btn-secondary">Add a Pet</a>



{% endblock %}